@font-face {
  font-family: 'Cafe';
  src: url("Louis George Cafe.ttf.") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  body {
    margin: 0px;
  }
}

body{
	overflow-x: hidden;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .arriba {
    margin-top: -10px;
    width: 430px;
  }
}

.arriba {
	height: 100px;
	background-color: #FFE8D6;
}

.hr1 {
	height: 97px;
	border: 2px solid #000;
  	border-top: 2px solid #000;
  	border-bottom: 2px solid #000;
}

.palabra {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	margin-top: -105px;
	font-family: 'Cafe';
	color: black;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .palabra {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logo {
	flex-grow: 4px;
}

.palabra1 {
	margin: 5px;
}

.palabra2 {
  margin: 5px;
}

.palabra3 {
  	margin: 5px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .Imagen0 {
    width: 430px;
    margin-top: -69px;
    border: 0 solid black;
  }
}

.Imagen0 {
	height: 450px;
  background: url('../Imágenes/imagen2.png');
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
}

.texto{
	padding: 77px;
	font-family: 'Cafe';
	color: black;
	margin-top: 70px;
}

@media (max-width: 1000px) {
  .texto {
    padding-top: 155px;
    position: relative;
    right: 50px;
  }
}


@media (max-width: 1000px) and (max-height: 1000px) {
  .texto1 {
    font-size: 10px;
  }
}

.texto2 {
	font-size: 50px;
}

@media (max-width: 1000px) {
  .texto2 {
    font-size: 40px;
    width: 1000px;
  }
}
 
.cero {
	background-color: white;        
  color: black;                  
  border: 2px solid grey;      
  border-radius: 9999px;           
  padding: 8px 20px;              
  font-size: 14px;
}

.segunda {
  	margin-top: 5px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
}

.categorias {
  	font-family: 'Cafe';
  	color: black;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	padding: 15px;
  	margin-left: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .categorias {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -35px;
  }
}

.categorias1 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .categorias1 {
    display: flex;
    flex-direction: row;
  }
}

.categorias2 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .categorias2 {
    display: flex;
    flex-direction: row;
  }
}

.palabras {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	font-family: 'Cafe';
	color: black;
	font-weight: bold;
}

.palabrass {
	opacity: 0.5;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	font-family: 'Cafe';
	color: black;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .palabrass {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .hr2 {
    width:900%
  }
}

.hr2 {
	border: 1px solid black;
}

.tercera {
	padding: 77px;
	margin-top: -50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .tercera {
    position: relative;
    top: -10px;
    left: -60px;
    height: 1250px;
  }
}

.titulo {
	font-family: 'Cafe';
	font-size: 35px;
	padding: 2px;
}

@media (max-width: 1000px) {
  .titulo {
    font-size: 40px;
    width: 1100px;
  }
}

.imagen {
	display: flex;
  flex-direction: row;
  align-items: center; 
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 15px; 
  position: relative;
  left: 15px;   
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .imagen {
    width: 430px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .caballos {
    height: 450px;
    width: 410px;
    position: relative;
    right: 80px;
  }
}

.caballos1 {
	font-family: 'Cafe';
	width: 400px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .caballos1 {
    position: relative;
    left: 50px;
  }
}

.tituloimagenes{
	margin-top: 15px;
	font-size: 30px;
  width: 1000px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .Risa {
    height: 450px;
    width: 410px;
    position: relative;
    right: 80px;
    margin-top: 150px;
  }
}

.risa1 {
	font-family: 'Cafe';
	width: 400px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .risa1 {
    position: relative;
    left: 50px;
  }
}

.primero {
	background-color: white;        
  color: #EBD8CE;                  
  border: 2px solid #EBD8CE;      
  border-radius: 9999px;           
  padding: 8px 20px;              
  font-size: 14px;                 
}

.segundo {
	background-color: white;        
  color: #EBD8CE;                  
  border: 2px solid #EBD8CE;      
  border-radius: 9999px;           
  padding: 8px 20px;              
  font-size: 14px;
}

.cuarta {
	padding: 77px;
  border-radius: 25px; 
	background-color: #CB997E; 
	width: 1175px;
	height: 50px;
	margin-left: 77px;
	display: flex;
	flex-direction: row;
	align-items: row;
	flex-wrap: wrap;
	gap: 198px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .cuarta {
    width: 270px;
    margin-left: 2px;
    height: 110px;
    border-radius: 50px;
  }
}

.dentro {
	margin-top: -60px;
	font-family: 'Cafe';
	color: black;
	width: 350px;
  height: 100px;
}

@media (max-width: 1000px) {
  .dentro {
    position: relative;
    right: 25px;
  }
}

@media (max-width: 1000px) {
  .h4 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .p1 {
    font-size: 13px;
    margin-top: -10px;
  }
}

.pesadilla {
	display: flex;
	flex-direction: row;
	align-items: row;
	flex-wrap: wrap;
	margin-right: 25px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .pesadilla {
    margin-top: -120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    right: 25px;
  }
}

.email {
	background-color: transparent;        
  color: black;                  
  border: 1px solid white;      
  border-radius: 9999px;           
  padding: 8px 20px;
  font-family: 'Cafe';
  width: 180px;
  display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: auto;
	scrollbar-width: none;
}

input {
	  background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    padding: 5px;
    opacity: 0.5;
}

.tercero {
	background-color: #FFE8D6;        
  color: black;                  
  border: 1px solid white;      
  border-radius: 9999px;           
  padding: 8px 20px; 
  width: 100px;
  font-family: 'Cafe';             
}

.quinta {
  padding: 77px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .quinta {
    padding: 10px;
    margin-top: 40px;
  }
}

.Titulo3 {
  font-family: 'Cafe';
  font-size: 35px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .Titulo3 {
    font-size: 40px;
  }
}

.parte1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .parte1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.cuadros1{
  background: url('../Imágenes/imagen2.png');
  height: 400px;
  width: 600px;
  opacity: 0.8;
  margin-top: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .cuadros1 {
    background: url('../Imágenes/imagen3.png');
    height: 450px;
    width: 410px;
  }
}

.cuadro1{
  font-family: 'Cafe';
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300px;
  left: 15px;
}

.texto_cuadro {
  font-weight: bold;
}

.texto_cuadro1 {
  font-size: 35px;
  margin-top: 5px;
}

.cuadros2{
  background: url('../Imágenes/imagen2.png');
  height: 400px;
  width: 600px;
  opacity: 0.8;
  margin-top: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .cuadros2 {
    background: url('../Imágenes/imagen3.png');
    height: 450px;
    width: 410px;
  }
}

.cuadro2{
  font-family: 'Cafe';
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300px;
  left: 15px;
}

.texto_cuadro2 {
  font-weight: bold;
}

.texto_cuadro3 {
  font-size: 35px;
  margin-top: 5px;
}


.parte2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .parte2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.cuadros3{
  background: url('../Imágenes/imagen2.png');
  height: 400px;
  width: 600px;
  opacity: 0.8;
  margin-top: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .cuadros3 {
   background: url('../Imágenes/imagen3.png');
    height: 450px;
    width: 410px;
  }
}

.cuadro3{
  font-family: 'Cafe';
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300px;
  left: 15px;
}

.texto_cuadro4 {
  font-weight: bold;
}

.texto_cuadro5 {
  font-size: 35px;
  margin-top: 5px;
}

.cuadros4{
  background: url('../Imágenes/imagen2.png');
  height: 400px;
  width: 600px;
  opacity: 0.8;
  margin-top: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .cuadros4 {
    background: url('../Imágenes/imagen3.png');
    height: 450px;
    width: 410px;
  }
}

.cuadro4{
  font-family: 'Cafe';
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 300px;
  left: 15px;
}

.texto_cuadro6 {
  font-weight: bold;
}

.texto_cuadro7 {
  font-size: 35px;
  margin-top: 5px;
}

.caja_grande {
  height: 150px;
  padding: 70px;
  font-family: 'Cafe';
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #DDBEA9;
  color: black;
  border: 2px solid black;
  margin-top: 25px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .caja_grande {
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  margin-right: 25px ;
}

.dentro_caja_letras {
  margin-left: 150px;
  text-align: justify;
  width: 880px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .dentro_caja_letras {
    width: 350px;
    text-align: justify;
    position: relative;
    right: 70px;
    top: -40px;
  }

}
.perfil1{
	position: relative;
	left: 70px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .perfil1 {
    position: relative;
    left: -1px;
    top: -50px;
  }
}

.Titulo2{
  font-size: 12px;
  font-weight: bold;
}

.autor{
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.relleno {
  font-size: 12px;
  margin-top: 5px;
}

.abajo {
	border: 1px solid black;
	height: 200px;
	background-color: #FFE8D6;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .abajo {
    height: 250px;
  }
}

.izquierta_dentro {
	color: black;
	position: relative;
	top: 20px;
	left: 50px;
	margin: 15px;
	font-family: 'Cafe';
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .izquierta_dentro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    left: 0px;
  }
}

.secciones_izquierda{
	display: flex;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .secciones_izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.seccion1 {
    padding: 10px;
}

.seccion2 {
	opacity: 0.5;
}

.redes {
	margin-right: 850px;
}